In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast
# Display plots in notebook
%matplotlib inline
from typing import NewType
import plotly.graph_objects as go

In [ ]:
chicago_df=pd.read_csv('/content/Chicago_listings.csv')
New_df=pd.read_csv('/content/NewOrleans_listings.csv')

In [ ]:
chicago_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,19091,Fully Furnished Cozy Apartment,72880,John,NaN,Leonidas,29.96100,-90.11950,Entire home/apt,62.0,1,504,2025-03-07,2.73,1,288,1,"25-NSTR-11772, 25-OSTR-11151"
1,71624,Ravenwood Manor (Historic Bywater),367223,Susan,NaN,Bywater,29.96153,-90.04364,Entire home/apt,150.0,30,316,2025-05-07,1.81,1,356,8,"21-RSTR-18609, 22-OSTR-20720"
2,79536,FeelAtHomeInNewOrleans-PrivateApt,428362,Miriam,NaN,Seventh Ward,29.97803,-90.07450,Entire home/apt,NaN,3,781,2025-05-11,4.54,1,8,50,"23-NSTR-15067, 24-OSTR-20882"
3,79609,Bywater's Original & Finest,428909,Stephen,NaN,St. Claude,29.96448,-90.03667,Entire home/apt,121.0,30,506,2025-03-05,2.91,1,356,5,"23-ISTR-02823, 23-OSTR-02823"
4,80869,"Frenchmen House ""Red Room""",437783,Joanne,NaN,Marigny,29.96811,-90.05905,Private room,80.0,1,989,2025-06-02,5.71,2,210,51,24-XSTR-08500

In [ ]:
New_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,113.0,3,253,2025-06-08,1.99,1,341,11,R17000015609
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90166,-87.68021,Entire home/apt,100.0,2,580,2025-06-01,2.98,1,60,51,R24000114046
2,10945,The Biddle House (#1),33004,At Home Inn,NaN,Lincoln Park,41.91196,-87.63981,Entire home/apt,203.0,4,121,2025-06-11,0.89,7,284,28,2209984
3,12140,Lincoln Park Guest House,46734,Shay And Robert,NaN,Lincoln Park,41.92357,-87.64947,Private room,288.0,2,18,2024-10-27,0.15,1,147,2,2398451
4,28749,Quirky Bucktown Loft w/ Parking No Parties,27506,Lauri,NaN,Logan Square,41.91955,-87.70069,Entire home/apt,250.0,2,253,2025-06-05,1.43,1,80,44,R24000113825

In [ ]:
chicago_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7522 entries, 0 to 7521
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              7522 non-null   int64
 1   name                            7522 non-null   object
 2   host_id                         7522 non-null   int64
 3   host_name                       7522 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   7522 non-null   object
 6   latitude                        7522 non-null   float64
 7   longitude                       7522 non-null   float64
 8   room_type                       7522 non-null   object
 9   price                           6373 non-null   float64
 10  minimum_nights                  7522 non-null   int64
 11  number_of_reviews               7522 non-null   int64
 12  last_review                     6307 non-null   object
 13  reviews_per_month               6307 non-null   float64
 14  calculated_host_listings_count  7522 non-null   int64
 15  availability_365                7522 non-null   int64
 16  number_of_reviews_ltm           7522 non-null   int64
 17  license                         6176 non-null   object
dtypes: float64(5), int64(7), object(6)
memory usage: 1.0+ MB

In [ ]:
New_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8604 entries, 0 to 8603
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              8604 non-null   int64
 1   name                            8604 non-null   object
 2   host_id                         8604 non-null   int64
 3   host_name                       8599 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   8604 non-null   object
 6   latitude                        8604 non-null   float64
 7   longitude                       8604 non-null   float64
 8   room_type                       8604 non-null   object
 9   price                           7681 non-null   float64
 10  minimum_nights                  8604 non-null   int64
 11  number_of_reviews               8604 non-null   int64
 12  last_review                     6822 non-null   object
 13  reviews_per_month               6822 non-null   float64
 14  calculated_host_listings_count  8604 non-null   int64
 15  availability_365                8604 non-null   int64
 16  number_of_reviews_ltm           8604 non-null   int64
 17  license                         5907 non-null   object
dtypes: float64(5), int64(7), object(6)
memory usage: 1.2+ MB

**Duplicate value**

In [ ]:
# Dataset Duplicate Value Count
chicago_duplicate = chicago_df.duplicated().sum()
print(f"Duplicate rows in chicago_df: {chicago_duplicate}")

Duplicate rows in chicago_df: 0

In [ ]:
New_duplicate=New_df.duplicated().sum()
print(f"Duplicated rows in new_df: {New_duplicate}")

Duplicated rows in new_df: 0

**Missing values**

In [ ]:
print(chicago_df.isnull().sum())

id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood_group               7522
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                             1149
minimum_nights                       0
number_of_reviews                    0
last_review                       1215
reviews_per_month                 1215
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           1346
dtype: int64

In [ ]:
#Need to drop neighbourhood_group column from both df
chicago_df=chicago_df.drop('neighbourhood_group',axis=1)
New_df=New_df.drop('neighbourhood_group',axis=1)

In [ ]:
chicago_df.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,19091,Fully Furnished Cozy Apartment,72880,John,Leonidas,29.96100,-90.11950,Entire home/apt,62.0,1,504,2025-03-07,2.73,1,288,1,"25-NSTR-11772, 25-OSTR-11151"
1,71624,Ravenwood Manor (Historic Bywater),367223,Susan,Bywater,29.96153,-90.04364,Entire home/apt,150.0,30,316,2025-05-07,1.81,1,356,8,"21-RSTR-18609, 22-OSTR-20720"
2,79536,FeelAtHomeInNewOrleans-PrivateApt,428362,Miriam,Seventh Ward,29.97803,-90.07450,Entire home/apt,NaN,3,781,2025-05-11,4.54,1,8,50,"23-NSTR-15067, 24-OSTR-20882"
3,79609,Bywater's Original & Finest,428909,Stephen,St. Claude,29.96448,-90.03667,Entire home/apt,121.0,30,506,2025-03-05,2.91,1,356,5,"23-ISTR-02823, 23-OSTR-02823"
4,80869,"Frenchmen House ""Red Room""",437783,Joanne,Marigny,29.96811,-90.05905,Private room,80.0,1,989,2025-06-02,5.71,2,210,51,24-XSTR-08500

In [ ]:
New_df.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,Hyde Park,41.78790,-87.58780,Private room,113.0,3,253,2025-06-08,1.99,1,341,11,R17000015609
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,West Town,41.90166,-87.68021,Entire home/apt,100.0,2,580,2025-06-01,2.98,1,60,51,R24000114046
2,10945,The Biddle House (#1),33004,At Home Inn,Lincoln Park,41.91196,-87.63981,Entire home/apt,203.0,4,121,2025-06-11,0.89,7,284,28,2209984
3,12140,Lincoln Park Guest House,46734,Shay And Robert,Lincoln Park,41.92357,-87.64947,Private room,288.0,2,18,2024-10-27,0.15,1,147,2,2398451
4,28749,Quirky Bucktown Loft w/ Parking No Parties,27506,Lauri,Logan Square,41.91955,-87.70069,Entire home/apt,250.0,2,253,2025-06-05,1.43,1,80,44,R24000113825

In [ ]:
#Need to fiil na values in price column
chicago_df['price'].value_counts()

price
100.0     96
75.0      78
86.0      78
89.0      61
150.0     59
          ..
1639.0     1
930.0      1
1123.0     1
28.0       1
789.0      1
Name: count, Length: 712, dtype: int64

In [ ]:
median_price = chicago_df['price'].median()
chicago_df['price'].fillna(median_price, inplace=True)

/tmp/ipython-input-2296374940.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  chicago_df['price'].fillna(median_price, inplace=True)

In [ ]:
print("\nAfter filling missing values:")
print(chicago_df['price'].isnull().sum())

After filling missing values:
0

In [ ]:
#Need to change the last_review column datatype to datetime
chicago_df['last_review'] = pd.to_datetime(chicago_df['last_review'].astype(str), format="%Y-%m-%d")

In [ ]:
#Need to fill missing value of review_per_month column
chicago_df['reviews_per_month'].fillna(0, inplace=True)

/tmp/ipython-input-2546486890.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  chicago_df['reviews_per_month'].fillna(0, inplace=True)

In [ ]:
#Need to fill missing value of license column
chicago_df['license'].fillna('Not Provided', inplace=True)

/tmp/ipython-input-886812072.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  chicago_df['license'].fillna('Not Provided', inplace=True)

In [ ]:
#Recheck after fiil missing values
print(chicago_df.isnull().sum())

id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       1215
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                              0
dtype: int64

In [ ]:
New_df.isnull().sum()

id                                   0
name                                 0
host_id                              0
host_name                            5
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                              923
minimum_nights                       0
number_of_reviews                    0
last_review                       1782
reviews_per_month                 1782
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           2697
dtype: int64

In [ ]:
#Need to fiil na values in price column
New_df['price'].value_counts()

price
90.0      62
45.0      61
80.0      52
85.0      50
120.0     48
          ..
896.0      1
915.0      1
965.0      1
695.0      1
3088.0     1
Name: count, Length: 875, dtype: int64

In [ ]:
median_price = New_df['price'].median()
New_df['price'].fillna(median_price, inplace=True)

/tmp/ipython-input-1869035046.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  New_df['price'].fillna(median_price, inplace=True)

In [ ]:
print("\nAfter filling missing values:")
print(New_df['price'].isnull().sum())

After filling missing values:
0

In [ ]:
#Need to change the last_review column datatype to datetime
New_df['last_review'] = pd.to_datetime(New_df['last_review'].astype(str), format="%Y-%m-%d")

In [ ]:
#Need to fill missing value of review_per_month column
New_df['reviews_per_month'].fillna(0, inplace=True)

/tmp/ipython-input-1181463181.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  New_df['reviews_per_month'].fillna(0, inplace=True)

In [ ]:
#Need to fill missing value of license column
New_df['license'].fillna('Not Provided', inplace=True)

/tmp/ipython-input-1037557237.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  New_df['license'].fillna('Not Provided', inplace=True)

In [ ]:
#Recheck after fiil missing values
print(New_df.isnull().sum())

id                                   0
name                                 0
host_id                              0
host_name                            5
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       1782
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                              0
dtype: int64

In [ ]:
#Adding city column to identify each city:
chicago_df['city'] = 'Chicago'
New_df['city'] = 'New Orleans'

In [ ]:
chicago_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7522 entries, 0 to 7521
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              7522 non-null   int64
 1   name                            7522 non-null   object
 2   host_id                         7522 non-null   int64
 3   host_name                       7522 non-null   object
 4   neighbourhood                   7522 non-null   object
 5   latitude                        7522 non-null   float64
 6   longitude                       7522 non-null   float64
 7   room_type                       7522 non-null   object
 8   price                           7522 non-null   float64
 9   minimum_nights                  7522 non-null   int64
 10  number_of_reviews               7522 non-null   int64
 11  last_review                     6307 non-null   datetime64[ns]
 12  reviews_per_month               7522 non-null   float64
 13  calculated_host_listings_count  7522 non-null   int64
 14  availability_365                7522 non-null   int64
 15  number_of_reviews_ltm           7522 non-null   int64
 16  license                         7522 non-null   object
 17  city                            7522 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(7), object(6)
memory usage: 1.0+ MB

In [ ]:
New_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8604 entries, 0 to 8603
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              8604 non-null   int64
 1   name                            8604 non-null   object
 2   host_id                         8604 non-null   int64
 3   host_name                       8599 non-null   object
 4   neighbourhood                   8604 non-null   object
 5   latitude                        8604 non-null   float64
 6   longitude                       8604 non-null   float64
 7   room_type                       8604 non-null   object
 8   price                           8604 non-null   float64
 9   minimum_nights                  8604 non-null   int64
 10  number_of_reviews               8604 non-null   int64
 11  last_review                     6822 non-null   datetime64[ns]
 12  reviews_per_month               8604 non-null   float64
 13  calculated_host_listings_count  8604 non-null   int64
 14  availability_365                8604 non-null   int64
 15  number_of_reviews_ltm           8604 non-null   int64
 16  license                         8604 non-null   object
 17  city                            8604 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(7), object(6)
memory usage: 1.2+ MB

In [ ]:
#merge two data frames
combined_df = pd.concat([chicago_df, New_df], ignore_index=True)

In [ ]:
#Export file as CSV
combined_df.to_csv("airbnb_merge.csv", index=False)